@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&family=Silkscreen:wght@400;700&display=swap');

:root {
    --primary: #1C1E53;
    --secondary: #FFFFFF;
    --tertiary: #000000;
    --fortiary: #EEF4FA;
    --fivtiart: blue;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
    height: 90px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin: 0 17px 0 17px;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    text-decoration: none;
    color: var(--primary);
}

.cta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 70px 0 70px;
    margin: 202px 0 0 0;
}

.cta-left {
    margin: 0 0 112px 0;
}

.cta-heading {
    color: var(--secondary);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.21px;
}

.cta-paragraph {
    color: var(--secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.button {
    padding: 13px 42px 13px 42px;
    border: 1px solid var(--secondary);
}

.cta-button {
    padding: 13px 42px 13px 42px;
    border: 1px solid var(--secondary);
    margin: 0 16px 0 0;
}

.button-postision {
    display: flex;
    margin: 62px 0 0 0;
}

.image-cta {
    width: 100%;
    margin-bottom: 32px;
}

.statistic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px 70px 24px 70px;
    background-color: #EEF4FA;
    align-items: center;
}

.statistic .patners {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 64px;
    margin-bottom: 16px;
}

.statistic .patners .image {
    margin: 0 17px 17px 17px;
    padding: 6px;
    /* border: 1px solid black; */
    border-radius: 12px;
}

/* .statistic .patners .image img {
    width: 32px;
} */

.statistic .text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.statistic .text .text-1 {
    margin: 0;
    padding: 0;
    margin: 0 17px 0 17px;
}

.statistic .text .text-1 .text-2 {
    margin: 0;
    padding: 0;
}

.image img {
    width: 96px;
}

.sidemenu-icon {
    display: none;
}

.sidemenu-icon img {
    width: 32px;
}

.card {
    padding: 0 70px 0 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--secondary);
}

.card-header {
    padding: 0 70px 0 70px;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 62px;
    margin: 0;
    background-color: var(--secondary);
}

.card-container {
    width: 405px;
    height: 316px;
    padding: 24px;
    margin: 21px;
    align-items: center;
    background-color: var(--fortiary);
}

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 70px 64px 70px;
    align-items: center;
    background-color: var(--primary);
    color: var(--secondary);
}

.about-left {
    width: 612px;
}

.about-right img {
    width: 100%;
}

.recomended {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 64px 70px 64px 70px;
    background-color: var(--secondary);
}

.recomended .right {
    display: flex;
}

.recomended .right .button {
    padding: 13px 42px 13px 42px;
    margin: 0 12px 0 12px;
    border: 1px solid var(--tertiary);
}

.recomended .right .button a {
    color: var(--tertiary);
}

.recomended-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 70px 0px 70px;
    background-color: var(--secondary);
    margin: 0;
}

.recomended-card .content {
    width: 386px;
}

.micro {
    display: flex;
    justify-content: space-between;
}

.micro-content {
    display: flex;
    height: 24px;
    align-items: center;
    margin-bottom: 54px;
}

.testi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 70px 70px 70px;
    background-color: var(--fortiary);
}

.testi .left {
    width: 346px;
}

.testi .right {
    width: 480px;
}

.image {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 70px 70px 70px;
}

footer .ul .li {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

footer .ul .li h2 {
    color: var(--secondary);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 16px 70px 16px 70px;
    background-color: var(--secondary);
}

.nav .ul {
    display: flex;
    flex-wrap: wrap;
}

.nav .ul .li {
    margin-left: 12px;
    margin-right: 12px;
}

@media (max-width: 480px) {
    nav {
        padding: 0 12px 0 12px;
    }

    .cta {
        padding: 0 12px 0 12px;
        margin-top: 64px; 
    }

    .statistic {
        padding: 0 12px 0 12px;
    }

    .card-header {
        padding: 64px 12px 64px 12px;
    }
    
    .card {
        padding: 0 12px 0 12px;
    }

    .recomended {
        padding: 81px 12px 32px 12px;
    }
    
    .about {
        padding: 64px 12px 64px 12px;
    }

    .testi {
        padding: 70px 12px 70px 12px;
    }

    footer {
        padding: 70px 12px 70px 12px;
    }

    .nav {
        padding: 16px 12px 16px 12px;
    }

    .logo {
        display: none;
    }
    
    .sidemenu-icon {
        display: flex;
    }

    .sidemenu {
        display: none;
        position: fixed;
        left: 0;
        top: 100px;
        flex-direction: column;
        background-color: black;
        padding: 32px;
        border-radius: 0 24px 24px 0;
    }

    .sidemenu li {
        margin: 24px;
    }

    .sidemenu.active {
        display: flex;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    nav {
        padding: 0 12px 0 12px;
    }

    .cta {
        padding: 0 12px 0 12px;
        margin-top: 64px; 
    }

    .statistic {
        padding: 0 12px 0 12px;
    }

    .card {
        padding: 0 12px 0 12px;
    }

    .recomended {
        padding: 81px 12px 81px 12px;
    }
    
    .about {
        padding: 64px 12px 64 12px;
    }

    .testi {
        padding: 70px 12px 70px 12px;
    }

    footer {
        padding: 70px 12px 70px 12px;
    }

    .logo {
        display: none;
    }
    
    .sidemenu-icon {
        display: flex;
    }

    .sidemenu {
        display: none;
        position: fixed;
        left: 0;
        top: 100px;
        flex-direction: column;
        background-color: black;
        padding: 32px;
        border-radius: 0 24px 24px 0;
    }

    .sidemenu li {
        margin: 24px;
    }

    .sidemenu.active {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    nav {
        padding: 0 12px 0 12px;
    }

    .cta {
        padding: 0 12px 0 12px;
        margin-top: 64px; 
    }

    .statistic {
        padding: 0 12px 0 12px;
    }

    .card {
        padding: 0 12px 0 12px;
    }

    .recomended {
        padding: 81px 12px 81px 12px;
    }
    
    .about {
        padding: 128px 12px 256px 12px;
    }

    .testi {
        padding: 70px 12px 70px 12px;
    }

    footer {
        padding: 70px 12px 70px 12px;
    }

    .logo {
        display: none;
    }
    
    .sidemenu-icon {
        display: flex;
    }

    .sidemenu {
        display: none;
        position: fixed;
        left: 0;
        top: 100px;
        flex-direction: column;
        background-color: black;
        padding: 32px;
        border-radius: 0 24px 24px 0;
    }

    .sidemenu li {
        margin: 24px;
    }

    .sidemenu.active {
        display: flex;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) and (max-width: 1919px) {

}

@media (min-width: 1920px) {

}